/*css rest*/
*{
    margin: 0;
    padding: 0;
}
/*=======================================*/
/*general css*/
.hero-container {
  background-size: cover;
  background-position: center;
  width:100%;
  height: fit-content;
  padding-bottom: 150px;
  overflow: hidden;
}
nav{

    border-bottom: solid 0.2px rgb(97, 75, 75);
}
    .title{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }

    
  
      @keyframes zoomAnimation {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.2);
        }
      }
.navigation p{
    display: flex; 
    align-items: center;
    margin: 0px 12px 0px 12px;
    font-size: 13px;
    font-weight: 500;
}
.navigation p{
    margin-right: 4px;
}
.navigation p span{
    margin-left: 5px;
    cursor: pointer;
}
.layout p{
  margin-bottom: 10px;
  transition: .2s;
}
.layout p:hover{
  opacity: 50%;
  cursor: pointer;
}
@media  screen and (max-width:960px) {
     .hero .intro{
      margin-top: 60px;
     }
   }
  /*========================================*/    


  /*key frame*/
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .fade-in {
    animation: fadeIn 1s ease-in-out; /* You can adjust the duration and timing function as needed */
  }
  @keyframes slideFromRight {
    0% {
      right: -30%; /* Starting position (outside the container) */
    }
    100% {
      right: 0; /* Ending position (inside the container) */
    }
  }
  .slide-right {
    animation: slideFromRight .5s ease-out forwards;
    position: relative; /* Make sure the div stays in place after the animation */
    right: -100%; /* Start the div outside the left edge of its container */
  }
  /*=======================================================================================*/